openapi: 3.1.0
info:
  title: Topaz Labs API
  version: 1.0.0
  description: Unified Topaz Labs API covering both image enhancement (upscale, sharpen, denoise, restore, lighting, matting) and video enhancement (upscale, denoise, frame interpolation).
servers:
- url: https://api.topazlabs.com
  description: Production
tags:
- name: Enhance
  description: "Enhance images by removing noise, sharpening, and upscaling while preserving the details of your image, including the faces of important subjects.\n\nJust pass in an image and our **Autopilot**\
    \ will automatically determine the best settings for the highest quality.\n\nAdditional configuration can be optionally provided, specifically:\n  - `model`\n  - `output_height`\n  - `output_width`\n\
    \  - `output_format`\n  - `crop_to_fill`\n\nPlease see the reference for further details. Check out the [available models](https://developer.topazlabs.com/image-api/available-models) to see which model\
    \ options you have.\n"
- name: Sharpen
  description: "Use our advanced Sharpen models to bring clarity and crisp definition back to your images that appear soft or slightly out of focus. By analyzing the edges, textures, and details, our AI-based\
    \ Sharpen endpoint intelligently enhances the clarity without introducing unwanted artifacts. Whether your image is suffering from camera shake, slight motion blur, or lens softness, Topaz Labs' Sharpen\
    \ models help you restore the finer details with minimal effort.\n\nJust pass in an image and our **Autopilot** will automatically determine the best settings for the highest quality.\n\nAdditional\
    \ configuration can be optionally provided, specifically:\n  - `model`\n  - `output_format`\n\nPlease see the reference for further details. Check out the [available models](https://developer.topazlabs.com/image-api/available-models)\
    \ to see which model options you have.\n"
- name: Denoise
  description: "Our noise reduction models effectively remove grain and high-ISO noise from your photos, ensuring smooth yet detailed results. This endpoint is particularly beneficial when working with\
    \ low-light photography or older images scanned from film, as it preserves essential image structure while greatly reducing unwanted noise or artifacts.\n\nJust pass in an image and our **Autopilot**\
    \ will automatically determine the best settings for the highest quality.\n\nAdditional configuration can be optionally provided, specifically:\n  - `model`\n  - `output_format`\n\nPlease see the reference\
    \ for further details. Check out the [available models](https://developer.topazlabs.com/image-api/available-models) to see which model options you have.\n"
- name: Restore
  description: "Our restoration models are designed to enhance photos that are older and of poorer quality.\n\nJust pass in an image and our **Autopilot** will automatically determine the best settings\
    \ for the highest quality.\n\nAdditional configuration can be optionally provided, specifically:\n  - `model`\n  - `output_format`\n\nPlease see the reference for further details. Check out the [available\
    \ models](https://developer.topazlabs.com/image-api/available-models) to see which model options you have.\n"
- name: Lighting
  description: "Our lighting models are used to adjust and balance your images to elevate it's quality despite the sub-optimal lighting conditions of the original photo.\n\nJust pass in an image and our\
    \ **Autopilot** will automatically determine the best settings for the highest quality.\n\nAdditional configuration can be optionally provided, specifically:\n  - `model`\n  - `output_format`\n\nPlease\
    \ see the reference for further details. Check out the [available models](https://developer.topazlabs.com/image-api/available-models) to see which model options you have.\n"
- name: Matting
  description: "Extract subjects from images using advanced AI matting technology. Generate alpha masks or segmentation maps to isolate objects from their backgrounds with precision.\n\nJust pass in an\
    \ image and our **Autopilot** will automatically determine the best settings for the highest quality.\n\nAdditional configuration can be optionally provided, specifically:\n  - `model`\n  - `mode`\n\
    \  - `output_format`\n\nPlease see the reference for further details.\n"
- name: Tool
  description: "Specialized image processing tools for specific use cases, including upscaling images with transparent backgrounds upto 4x while preserving alpha channels.\n\nJust pass in an image and our\
    \ **Autopilot** will automatically determine the best settings for the highest quality.\n\nAdditional configuration can be optionally provided, specifically:\n  - `model`\n  - `output_height`\n  - `output_width`\n\
    \  - `output_format`\n  - `crop_to_fill`\n\nPlease see the reference for further details.\n"
- name: ImageStatus
  description: 'Check and manage the statuses of your image processing jobs. Whether you are handling a single job or managing a queue of bulk image processing tasks, the Status endpoints allow you to monitor
    the progress and completion of your tasks.


    This is particularly useful for long-running jobs, where you can track progress and retrieve details such as percentage completion, estimated finish time, and current state (e.g., pending, processing,
    completed).

    '
- name: Download
  description: 'Access presigned URLs for downloading input or processed images. These endpoints allow you to securely retrieve the input or the processed image with an expiring URL.

    '
- name: Estimate
  description: 'Our estimates will allow you to predict the amount of time required and the number of credits that would be consumed in order to run a set of enhancements on a given image with certain input
    parameters.

    '
- name: Cancel
  description: 'If an image processing job is no longer needed or was started in error, you can cancel it before it completes. The job must be in a cancellable state (e.g., not already completed or failed)
    for the request to be successful.

    '
- name: VideoStatus
  description: 'This section informs you about the system status

    '
- name: Create Request
  description: 'This section allows you to create a request and estimate costs

    '
- name: Create Express Request
  description: 'This section allows you to create an express request

    '
- name: Accept Request
  description: 'This section allows you to accept the created request''s cost and upload the source video

    '
- name: Complete Upload
  description: 'This section allows you to complete the multi-part upload and start processing

    '
- name: Cancel Request
  description: 'This section allows you to cancel a request

    '
- name: Cancel Estimate
  description: 'This section allows you to preview the credit outcome of canceling a request

    '
- name: Delete Files
  description: 'This section allows you to delete your source and enhanced files

    '
- name: Get Request
  description: 'This section allows you to get the full record of a request

    '
- name: Get Request Status
  description: 'This section allows you to get the status of a request

    '
- name: Get Request Metrics
  description: 'This section allows you to get the metrics for a request

    '
- name: Get Request History
  description: 'This section allows you to get your video request history

    '
paths:
  /image/v1/enhance/async:
    post:
      tags:
      - Enhance
      summary: Enhance
      operationId: postEnhance
      description: "Returns `process_id` and `eta` to use as an efficient way to track the progress of the image enhancement job:\n  - Use the `Status` endpoints to check the status of this job using the\
        \ returned `process_id`.\n  - Use the `Download` endpoints to download the input or processed image (once it is ready).\n  - Use the `Cancel` endpoint to cancel the job while it is in progress.\n\
        \nThe same `process_id` and `eta` are also returned in the response headers as `X-Process-ID` and `X-ETA` respectively.\n\n> The `eta` represents when the job is expected to finish in Unix time.\
        \ We recommend using this to know when you can expect your (bulk) jobs to finish processing.\n"
      requestBody:
        content:
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/EnhanceGANRequest'
      responses:
        '200':
          description: Image processing request has been successfully created.
          headers:
            X-Process-ID:
              description: Unique identifier of the image processing job.
              schema:
                type: string
                examples:
                - d7b3b3b3-7b3b-4b3b-8b3b-3b3b3b3b3b3b
            X-Source-ID:
              description: Unique identifier of the source image.
              schema:
                type: string
                examples:
                - d7b3b3b3-7b3b-4b3b-8b3b-3b3b3b3b3b3b
            X-ETA:
              description: Estimated time of arrival (ETA) for the process to complete in Unix time.
              schema:
                type: integer
                examples:
                - 1617220000
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AsyncResponse'
          links:
            GetStatusByProcessId:
              description: Retrieve the status of your image processing job using the `process_id`.
              operationId: getStatus
              parameters:
                process_id: $response.header.X-Process-ID
            DownloadInputByProcessId:
              description: Access the download link for the input image once the job is completed.
              operationId: getDownloadInput
              parameters:
                process_id: $response.header.X-Process-ID
            DownloadOutputByProcessId:
              description: Access the download link for the enhanced image once the job is completed.
              operationId: getDownloadOutput
              parameters:
                process_id: $response.header.X-Process-ID
            CancelByProcessId:
              description: Cancel the image processing job if it is still in progress.
              operationId: cancelTask
              parameters:
                process_id: $response.header.X-Process-ID
        '400':
          $ref: '#/components/responses/BadRequestImage'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '402':
          $ref: '#/components/responses/PaymentRequired'
        '403':
          $ref: '#/components/responses/Forbidden'
        '412':
          $ref: '#/components/responses/PreconditionFailed'
        '413':
          $ref: '#/components/responses/RequestEntityTooLarge'
        '415':
          $ref: '#/components/responses/UnsupportedMediaType'
        '422':
          $ref: '#/components/responses/UnprocessableEntity'
        '425':
          $ref: '#/components/responses/TooEarly'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '500':
          $ref: '#/components/responses/InternalServerError'
  /image/v1/enhance-gen/async:
    post:
      tags:
      - Enhance
      summary: Enhance Generative
      operationId: postEnhanceGen
      description: "Returns `process_id` and `eta` to use as an efficient way to track the progress of the image enhancement job:\n  - Use the `Status` endpoints to check the status of this job using the\
        \ returned `process_id`.\n  - Use the `Download` endpoints to download the input or processed image (once it is ready).\n  - Use the `Cancel` endpoint to cancel the job while it is in progress.\n\
        \nThe same `process_id` and `eta` are also returned in the response headers as `X-Process-ID` and `X-ETA` respectively.\n\n> The `eta` represents when the job is expected to finish in Unix time.\
        \ We recommend using this to know when you can expect your (bulk) jobs to finish processing.\n"
      requestBody:
        content:
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/EnhanceGenRequest'
      responses:
        '200':
          description: Image processing request has been successfully created.
          headers:
            X-Process-ID:
              description: Unique identifier of the image processing job.
              schema:
                type: string
                examples:
                - d7b3b3b3-7b3b-4b3b-8b3b-3b3b3b3b3b3b
            X-Source-ID:
              description: Unique identifier of the source image.
              schema:
                type: string
                examples:
                - d7b3b3b3-7b3b-4b3b-8b3b-3b3b3b3b3b3b
            X-ETA:
              description: Estimated time of arrival (ETA) for the process to complete in Unix time.
              schema:
                type: integer
                examples:
                - 1617220000
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AsyncResponse'
          links:
            GetStatusByProcessId:
              description: Retrieve the status of your image processing job using the `process_id`.
              operationId: getStatus
              parameters:
                process_id: $response.header.X-Process-ID
            DownloadInputByProcessId:
              description: Access the download link for the input image once the job is completed.
              operationId: getDownloadInput
              parameters:
                process_id: $response.header.X-Process-ID
            DownloadOutputByProcessId:
              description: Access the download link for the enhanced image once the job is completed.
              operationId: getDownloadOutput
              parameters:
                process_id: $response.header.X-Process-ID
            CancelByProcessId:
              description: Cancel the image processing job if it is still in progress.
              operationId: cancelTask
              parameters:
                process_id: $response.header.X-Process-ID
        '400':
          $ref: '#/components/responses/BadRequestImage'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '402':
          $ref: '#/components/responses/PaymentRequired'
        '403':
          $ref: '#/components/responses/Forbidden'
        '412':
          $ref: '#/components/responses/PreconditionFailed'
        '413':
          $ref: '#/components/responses/RequestEntityTooLarge'
        '415':
          $ref: '#/components/responses/UnsupportedMediaType'
        '422':
          $ref: '#/components/responses/UnprocessableEntity'
        '425':
          $ref: '#/components/responses/TooEarly'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '500':
          $ref: '#/components/responses/InternalServerError'
  /image/v1/sharpen/async:
    post:
      tags:
      - Sharpen
      summary: Sharpen
      operationId: postSharpen
      description: "Returns `process_id` and `eta` to use as an efficient way to track the progress of the image sharpening job:\n  - Use the `Status` endpoints to check the status of this job using the\
        \ returned `process_id`.\n  - Use the `Download` endpoints to download the input or processed image (once it is ready).\n  - Use the `Cancel` endpoint to cancel the job while it is in progress.\n\
        \nThe same `process_id` and `eta` are also returned in the response headers as `X-Process-ID` and `X-ETA` respectively.\n\n> The `eta` represents when the job is expected to finish in Unix time.\
        \ We recommend using this to know when you can expect your (bulk) jobs to finish processing.\n"
      requestBody:
        content:
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/SharpenGANRequest'
      responses:
        '200':
          description: Image processing request has been successfully created.
          headers:
            X-Process-ID:
              description: Unique identifier of the image processing job.
              schema:
                type: string
                examples:
                - d7b3b3b3-7b3b-4b3b-8b3b-3b3b3b3b3b3b
            X-Source-ID:
              description: Unique identifier of the source image.
              schema:
                type: string
                examples:
                - d7b3b3b3-7b3b-4b3b-8b3b-3b3b3b3b3b3b
            X-ETA:
              description: Estimated time of arrival (ETA) for the process to complete in Unix time.
              schema:
                type: integer
                examples:
                - 1617220000
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AsyncResponse'
          links:
            GetStatusByProcessId:
              description: Retrieve the status of your image processing job using the `process_id`.
              operationId: getStatus
              parameters:
                process_id: $response.header.X-Process-ID
            DownloadInputByProcessId:
              description: Access the download link for the input image once the job is completed.
              operationId: getDownloadInput
              parameters:
                process_id: $response.header.X-Process-ID
            DownloadOutputByProcessId:
              description: Access the download link for the enhanced image once the job is completed.
              operationId: getDownloadOutput
              parameters:
                process_id: $response.header.X-Process-ID
            CancelByProcessId:
              description: Cancel the image processing job if it is still in progress.
              operationId: cancelTask
              parameters:
                process_id: $response.header.X-Process-ID
        '400':
          $ref: '#/components/responses/BadRequestImage'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '402':
          $ref: '#/components/responses/PaymentRequired'
        '403':
          $ref: '#/components/responses/Forbidden'
        '412':
          $ref: '#/components/responses/PreconditionFailed'
        '413':
          $ref: '#/components/responses/RequestEntityTooLarge'
        '415':
          $ref: '#/components/responses/UnsupportedMediaType'
        '422':
          $ref: '#/components/responses/UnprocessableEntity'
        '425':
          $ref: '#/components/responses/TooEarly'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '500':
          $ref: '#/components/responses/InternalServerError'
  /image/v1/sharpen-gen/async:
    post:
      tags:
      - Sharpen
      summary: Sharpen Generative
      operationId: postSharpenGen
      description: "Returns `process_id` and `eta` to use as an efficient way to track the progress of the image sharpening job:\n  - Use the `Status` endpoints to check the status of this job using the\
        \ returned `process_id`.\n  - Use the `Download` endpoints to download the input or processed image (once it is ready).\n  - Use the `Cancel` endpoint to cancel the job while it is in progress.\n\
        \nThe same `process_id` and `eta` are also returned in the response headers as `X-Process-ID` and `X-ETA` respectively.\n\n> The `eta` represents when the job is expected to finish in Unix time.\
        \ We recommend using this to know when you can expect your (bulk) jobs to finish processing.\n"
      requestBody:
        content:
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/SharpenGenRequest'
      responses:
        '200':
          description: Image processing request has been successfully created.
          headers:
            X-Process-ID:
              description: Unique identifier of the image processing job.
              schema:
                type: string
                examples:
                - d7b3b3b3-7b3b-4b3b-8b3b-3b3b3b3b3b3b
            X-Source-ID:
              description: Unique identifier of the source image.
              schema:
                type: string
                examples:
                - d7b3b3b3-7b3b-4b3b-8b3b-3b3b3b3b3b3b
            X-ETA:
              description: Estimated time of arrival (ETA) for the process to complete in Unix time.
              schema:
                type: integer
                examples:
                - 1617220000
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AsyncResponse'
          links:
            GetStatusByProcessId:
              description: Retrieve the status of your image processing job using the `process_id`.
              operationId: getStatus
              parameters:
                process_id: $response.header.X-Process-ID
            DownloadInputByProcessId:
              description: Access the download link for the input image once the job is completed.
              operationId: getDownloadInput
              parameters:
                process_id: $response.header.X-Process-ID
            DownloadOutputByProcessId:
              description: Access the download link for the enhanced image once the job is completed.
              operationId: getDownloadOutput
              parameters:
                process_id: $response.header.X-Process-ID
            CancelByProcessId:
              description: Cancel the image processing job if it is still in progress.
              operationId: cancelTask
              parameters:
                process_id: $response.header.X-Process-ID
        '400':
          $ref: '#/components/responses/BadRequestImage'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '402':
          $ref: '#/components/responses/PaymentRequired'
        '403':
          $ref: '#/components/responses/Forbidden'
        '412':
          $ref: '#/components/responses/PreconditionFailed'
        '413':
          $ref: '#/components/responses/RequestEntityTooLarge'
        '415':
          $ref: '#/components/responses/UnsupportedMediaType'
        '422':
          $ref: '#/components/responses/UnprocessableEntity'
        '425':
          $ref: '#/components/responses/TooEarly'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '500':
          $ref: '#/components/responses/InternalServerError'
  /image/v1/denoise/async:
    post:
      tags:
      - Denoise
      summary: Denoise
      operationId: postDenoise
      description: "Returns `process_id` and `eta` to use as an efficient way to track the progress of the image denoising job:\n  - Use the `Status` endpoints to check the status of this job using the\
        \ returned `process_id`.\n  - Use the `Download` endpoints to download the input or processed image (once it is ready).\n  - Use the `Cancel` endpoint to cancel the job while it is in progress.\n\
        \nThe same `process_id` and `eta` are also returned in the response headers as `X-Process-ID` and `X-ETA` respectively.\n\n> The `eta` represents when the job is expected to finish in Unix time.\
        \ We recommend using this to know when you can expect your (bulk) jobs to finish processing.\n"
      requestBody:
        content:
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/DenoiseGANRequest'
      responses:
        '200':
          description: Image processing request has been successfully created.
          headers:
            X-Process-ID:
              description: Unique identifier of the image processing job.
              schema:
                type: string
                examples:
                - d7b3b3b3-7b3b-4b3b-8b3b-3b3b3b3b3b3b
            X-Source-ID:
              description: Unique identifier of the source image.
              schema:
                type: string
                examples:
                - d7b3b3b3-7b3b-4b3b-8b3b-3b3b3b3b3b3b
            X-ETA:
              description: Estimated time of arrival (ETA) for the process to complete in Unix time.
              schema:
                type: integer
                examples:
                - 1617220000
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AsyncResponse'
          links:
            GetStatusByProcessId:
              description: Retrieve the status of your image processing job using the `process_id`.
              operationId: getStatus
              parameters:
                process_id: $response.header.X-Process-ID
            DownloadInputByProcessId:
              description: Access the download link for the input image once the job is completed.
              operationId: getDownloadInput
              parameters:
                process_id: $response.header.X-Process-ID
            DownloadOutputByProcessId:
              description: Access the download link for the enhanced image once the job is completed.
              operationId: getDownloadOutput
              parameters:
                process_id: $response.header.X-Process-ID
            CancelByProcessId:
              description: Cancel the image processing job if it is still in progress.
              operationId: cancelTask
              parameters:
                process_id: $response.header.X-Process-ID
        '400':
          $ref: '#/components/responses/BadRequestImage'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '402':
          $ref: '#/components/responses/PaymentRequired'
        '403':
          $ref: '#/components/responses/Forbidden'
        '412':
          $ref: '#/components/responses/PreconditionFailed'
        '413':
          $ref: '#/components/responses/RequestEntityTooLarge'
        '415':
          $ref: '#/components/responses/UnsupportedMediaType'
        '422':
          $ref: '#/components/responses/UnprocessableEntity'
        '425':
          $ref: '#/components/responses/TooEarly'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '500':
          $ref: '#/components/responses/InternalServerError'
  /image/v1/restore-gen/async:
    post:
      tags:
      - Restore
      summary: Restore Generative
      operationId: postRestoreGen
      description: "The following are our restoration models designed to enhance photos that are older and of poorer quality.\n\nReturns `process_id` and `eta` to use as an efficient way to track the progress\
        \ of the image restoration job:\n  - Use the `Status` endpoints to check the status of this job using the returned `process_id`.\n  - Use the `Download` endpoints to download the input or processed\
        \ image (once it is ready).\n  - Use the `Cancel` endpoint to cancel the job while it is in progress.\n\nThe same `process_id` and `eta` are also returned in the response headers as `X-Process-ID`\
        \ and `X-ETA` respectively.\n\n> The `eta` represents when the job is expected to finish in Unix time. We recommend using this to know when you can expect your (bulk) jobs to finish processing.\n"
      requestBody:
        content:
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/RestoreGenRequest'
      responses:
        '200':
          description: Image processing request has been successfully created.
          headers:
            X-Process-ID:
              description: Unique identifier of the image processing job.
              schema:
                type: string
                examples:
                - d7b3b3b3-7b3b-4b3b-8b3b-3b3b3b3b3b3b
            X-Source-ID:
              description: Unique identifier of the source image.
              schema:
                type: string
                examples:
                - d7b3b3b3-7b3b-4b3b-8b3b-3b3b3b3b3b3b
            X-ETA:
              description: Estimated time of arrival (ETA) for the process to complete in Unix time.
              schema:
                type: integer
                examples:
                - 1617220000
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AsyncResponse'
          links:
            GetStatusByProcessId:
              description: Retrieve the status of your image processing job using the `process_id`.
              operationId: getStatus
              parameters:
                process_id: $response.header.X-Process-ID
            DownloadInputByProcessId:
              description: Access the download link for the input image once the job is completed.
              operationId: getDownloadInput
              parameters:
                process_id: $response.header.X-Process-ID
            DownloadOutputByProcessId:
              description: Access the download link for the enhanced image once the job is completed.
              operationId: getDownloadOutput
              parameters:
                process_id: $response.header.X-Process-ID
            CancelByProcessId:
              description: Cancel the image processing job if it is still in progress.
              operationId: cancelTask
              parameters:
                process_id: $response.header.X-Process-ID
        '400':
          $ref: '#/components/responses/BadRequestImage'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '402':
          $ref: '#/components/responses/PaymentRequired'
        '403':
          $ref: '#/components/responses/Forbidden'
        '412':
          $ref: '#/components/responses/PreconditionFailed'
        '413':
          $ref: '#/components/responses/RequestEntityTooLarge'
        '415':
          $ref: '#/components/responses/UnsupportedMediaType'
        '422':
          $ref: '#/components/responses/UnprocessableEntity'
        '425':
          $ref: '#/components/responses/TooEarly'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '500':
          $ref: '#/components/responses/InternalServerError'
  /image/v1/lighting/async:
    post:
      tags:
      - Lighting
      summary: Lighting
      operationId: postLighting
      description: "The following are our lighting models used to adjust and balance your images to elevate it's quality despite the sub-optimal lighting conditions of the original photo.\n\nReturns `process_id`\
        \ and `eta` to use as an efficient way to track the progress of the image lighting adjustment job:\n  - Use the `Status` endpoints to check the status of this job using the returned `process_id`.\n\
        \  - Use the `Download` endpoints to download the input or processed image (once it is ready).\n  - Use the `Cancel` endpoint to cancel the job while it is in progress.\n\nThe same `process_id`\
        \ and `eta` are also returned in the response headers as `X-Process-ID` and `X-ETA` respectively.\n\n> The `eta` represents when the job is expected to finish in Unix time. We recommend using this\
        \ to know when you can expect your (bulk) jobs to finish processing.\n"
      requestBody:
        content:
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/LightingGANRequest'
      responses:
        '200':
          description: Image processing request has been successfully created.
          headers:
            X-Process-ID:
              description: Unique identifier of the image processing job.
              schema:
                type: string
                examples:
                - d7b3b3b3-7b3b-4b3b-8b3b-3b3b3b3b3b3b
            X-Source-ID:
              description: Unique identifier of the source image.
              schema:
                type: string
                examples:
                - d7b3b3b3-7b3b-4b3b-8b3b-3b3b3b3b3b3b
            X-ETA:
              description: Estimated time of arrival (ETA) for the process to complete in Unix time.
              schema:
                type: integer
                examples:
                - 1617220000
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AsyncResponse'
          links:
            GetStatusByProcessId:
              description: Retrieve the status of your image processing job using the `process_id`.
              operationId: getStatus
              parameters:
                process_id: $response.header.X-Process-ID
            DownloadInputByProcessId:
              description: Access the download link for the input image once the job is completed.
              operationId: getDownloadInput
              parameters:
                process_id: $response.header.X-Process-ID
            DownloadOutputByProcessId:
              description: Access the download link for the enhanced image once the job is completed.
              operationId: getDownloadOutput
              parameters:
                process_id: $response.header.X-Process-ID
            CancelByProcessId:
              description: Cancel the image processing job if it is still in progress.
              operationId: cancelTask
              parameters:
                process_id: $response.header.X-Process-ID
        '400':
          $ref: '#/components/responses/BadRequestImage'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '402':
          $ref: '#/components/responses/PaymentRequired'
        '403':
          $ref: '#/components/responses/Forbidden'
        '412':
          $ref: '#/components/responses/PreconditionFailed'
        '413':
          $ref: '#/components/responses/RequestEntityTooLarge'
        '415':
          $ref: '#/components/responses/UnsupportedMediaType'
        '422':
          $ref: '#/components/responses/UnprocessableEntity'
        '425':
          $ref: '#/components/responses/TooEarly'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '500':
          $ref: '#/components/responses/InternalServerError'
  /image/v1/matting/async:
    post:
      tags:
      - Matting
      summary: Matting
      operationId: postMatting
      description: "Returns `process_id` and `eta` to use as an efficient way to track the progress of the image matting job:\n  - Use the `Status` endpoints to check the status of this job using the returned\
        \ `process_id`.\n  - Use the `Download` endpoints to download the input or processed image (once it is ready).\n  - Use the `Cancel` endpoint to cancel the job while it is in progress.\n\nThe same\
        \ `process_id` and `eta` are also returned in the response headers as `X-Process-ID` and `X-ETA` respectively.\n\n> The `eta` represents when the job is expected to finish in Unix time. We recommend\
        \ using this to know when you can expect your (bulk) jobs to finish processing.\n"
      requestBody:
        content:
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/MattingGANRequest'
      responses:
        '200':
          description: Image processing request has been successfully created.
          headers:
            X-Process-ID:
              description: Unique identifier of the image processing job.
              schema:
                type: string
                examples:
                - d7b3b3b3-7b3b-4b3b-8b3b-3b3b3b3b3b3b
            X-Source-ID:
              description: Unique identifier of the source image.
              schema:
                type: string
                examples:
                - d7b3b3b3-7b3b-4b3b-8b3b-3b3b3b3b3b3b
            X-ETA:
              description: Estimated time of arrival (ETA) for the process to complete in Unix time.
              schema:
                type: integer
                examples:
                - 1617220000
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AsyncResponse'
          links:
            GetStatusByProcessId:
              description: Retrieve the status of your image processing job using the `process_id`.
              operationId: getStatus
              parameters:
                process_id: $response.header.X-Process-ID
            DownloadInputByProcessId:
              description: Access the download link for the input image once the job is completed.
              operationId: getDownloadInput
              parameters:
                process_id: $response.header.X-Process-ID
            DownloadOutputByProcessId:
              description: Access the download link for the processed image once the job is completed.
              operationId: getDownloadOutput
              parameters:
                process_id: $response.header.X-Process-ID
            CancelByProcessId:
              description: Cancel the image processing job if it is still in progress.
              operationId: cancelTask
              parameters:
                process_id: $response.header.X-Process-ID
        '400':
          $ref: '#/components/responses/BadRequestImage'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '402':
          $ref: '#/components/responses/PaymentRequired'
        '403':
          $ref: '#/components/responses/Forbidden'
        '412':
          $ref: '#/components/responses/PreconditionFailed'
        '413':
          $ref: '#/components/responses/RequestEntityTooLarge'
        '415':
          $ref: '#/components/responses/UnsupportedMediaType'
        '422':
          $ref: '#/components/responses/UnprocessableEntity'
        '425':
          $ref: '#/components/responses/TooEarly'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '500':
          $ref: '#/components/responses/InternalServerError'
  /image/v1/tool/async:
    post:
      tags:
      - Tool
      summary: Tool
      operationId: postTool
      description: "Returns `process_id` and `eta` to use as an efficient way to track the progress of the image tool processing job:\n  - Use the `Status` endpoints to check the status of this job using\
        \ the returned `process_id`.\n  - Use the `Download` endpoints to download the input or processed image (once it is ready).\n  - Use the `Cancel` endpoint to cancel the job while it is in progress.\n\
        \nThe same `process_id` and `eta` are also returned in the response headers as `X-Process-ID` and `X-ETA` respectively.\n\n> The `eta` represents when the job is expected to finish in Unix time.\
        \ We recommend using this to know when you can expect your (bulk) jobs to finish processing.\n"
      requestBody:
        content:
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/ToolGANRequest'
      responses:
        '200':
          description: Image processing request has been successfully created.
          headers:
            X-Process-ID:
              description: Unique identifier of the image processing job.
              schema:
                type: string
                examples:
                - d7b3b3b3-7b3b-4b3b-8b3b-3b3b3b3b3b3b
            X-Source-ID:
              description: Unique identifier of the source image.
              schema:
                type: string
                examples:
                - d7b3b3b3-7b3b-4b3b-8b3b-3b3b3b3b3b3b
            X-ETA:
              description: Estimated time of arrival (ETA) for the process to complete in Unix time.
              schema:
                type: integer
                examples:
                - 1617220000
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AsyncResponse'
          links:
            GetStatusByProcessId:
              description: Retrieve the status of your image processing job using the `process_id`.
              operationId: getStatus
              parameters:
                process_id: $response.header.X-Process-ID
            DownloadInputByProcessId:
              description: Access the download link for the input image once the job is completed.
              operationId: getDownloadInput
              parameters:
                process_id: $response.header.X-Process-ID
            DownloadOutputByProcessId:
              description: Access the download link for the processed image once the job is completed.
              operationId: getDownloadOutput
              parameters:
                process_id: $response.header.X-Process-ID
            CancelByProcessId:
              description: Cancel the image processing job if it is still in progress.
              operationId: cancelTask
              parameters:
                process_id: $response.header.X-Process-ID
        '400':
          $ref: '#/components/responses/BadRequestImage'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '402':
          $ref: '#/components/responses/PaymentRequired'
        '403':
          $ref: '#/components/responses/Forbidden'
        '412':
          $ref: '#/components/responses/PreconditionFailed'
        '413':
          $ref: '#/components/responses/RequestEntityTooLarge'
        '415':
          $ref: '#/components/responses/UnsupportedMediaType'
        '422':
          $ref: '#/components/responses/UnprocessableEntity'
        '425':
          $ref: '#/components/responses/TooEarly'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '500':
          $ref: '#/components/responses/InternalServerError'
  /image/v1/status:
    get:
      tags:
      - ImageStatus
      summary: Get All Statuses
      operationId: getAllStatuses
      description: "Retrieve the status of all image processing jobs.\n\n**Pagination (Highly Recommended):**\nFor better performance and to handle large numbers of statuses, pagination is highly recommended.\
        \ Enable pagination by setting `paginated=true`. When pagination is enabled:\n  - Use the `limit` parameter to control the number of results per page (default: 50, maximum: 100)\n  - Use the `cursor`\
        \ parameter to retrieve subsequent pages\n  - The response will include pagination metadata with `next_cursor` and `has_next_page` fields\n\n**Non-Paginated Response:**\nWhen `paginated=false` (default)\
        \ or omitted, the endpoint returns all statuses **up to 7 days old** as a simple array. This may be slow or fail for accounts with many statuses.\n"
      parameters:
      - name: paginated
        in: query
        required: false
        description: Enable pagination for the response. Highly recommended for better performance.
        schema:
          type: boolean
          default: false
      - name: limit
        in: query
        required: false
        description: Number of results per page when pagination is enabled. Ignored if `paginated=false`. Defaults to 50, maximum is 100.
        schema:
          type: integer
          minimum: 1
          maximum: 100
          default: 50
      - name: cursor
        in: query
        required: false
        description: Cursor for pagination. Use the `next_cursor` value from the previous response to retrieve the next page. Ignored if `paginated=false`.
        schema:
          type: string
      responses:
        '200':
          description: Statuses of all processes. The response format depends on whether pagination is enabled.
          content:
            application/json:
              schema:
                oneOf:
                - type: array
                  description: Non-paginated response (when `paginated=false` or omitted)
                  items:
                    $ref: '#/components/schemas/StatusResponse'
                - $ref: '#/components/schemas/PaginatedStatusesResponse'
              examples:
                nonPaginated:
                  summary: Non-paginated response
                  value:
                  - process_id: d7b3b3b3-7b3b-4b3b-8b3b-3b3b3b3b3b3b
                    source_id: d7b3b3b3-7b3b-4b3b-8b3b-3b3b3b3b3b3b
                    filename: image.png
                    input_format: png
                    input_height: 720
                    input_width: 1280
                    output_format: jpeg
                    output_height: 1080
                    output_width: 1920
                    category: Enhance
                    model_type: GAN
                    model: Standard V2
                    crop_to_fill: false
                    status: Completed
                    progress: 100
                    eta: 1617220000
                    creation_time: 1633024800
                    modification_time: 1633038400
                    credits: 2
                paginated:
                  summary: Paginated response
                  value:
                    data:
                    - process_id: d7b3b3b3-7b3b-4b3b-8b3b-3b3b3b3b3b3b
                      source_id: d7b3b3b3-7b3b-4b3b-8b3b-3b3b3b3b3b3b
                      filename: image.png
                      input_format: png
                      input_height: 720
                      input_width: 1280
                      output_format: jpeg
                      output_height: 1080
                      output_width: 1920
                      category: Enhance
                      model_type: GAN
                      model: Standard V2
                      crop_to_fill: false
                      status: Completed
                      progress: 100
                      eta: 1617220000
                      creation_time: 1633024800
                      modification_time: 1633038400
                      credits: 2
                    pagination:
                      next_cursor: eyJwcm9jZXNzX2lkIjoiZDdiM2IzYjMzLTdiM2ItNGIzYi04YjNiLTNiM2IzYjNiM2IzYiJ9
                      has_next_page: true
        '400':
          $ref: '#/components/responses/BadRequestProcess'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '500':
          $ref: '#/components/responses/InternalServerError'
    delete:
      tags:
      - ImageStatus
      summary: Delete All Statuses
      operationId: deleteAllStatuses
      description: 'Remove all image processing job statuses. This operation can be used to delete the statuses of finished jobs, cleaning up the response of `Get All Statuses`, for example.

        '
      responses:
        '200':
          description: The number of statuses that were deleted.
          content:
            application/json:
              schema:
                type: object
                properties:
                  deleted_count:
                    type: integer
                    description: The number of statuses that were deleted.
                    examples:
                    - 10
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '500':
          $ref: '#/components/responses/InternalServerError'
  /image/v1/status/{process_id}:
    get:
      tags:
      - ImageStatus
      summary: Get Status
      operationId: getStatus
      description: 'Use this endpoint to retrieve status information for your image processing jobs.

        '
      parameters:
      - name: process_id
        in: path
        required: true
        description: The UUID of the image processing job.
        schema:
          type: string
          format: uuid
      responses:
        '200':
          description: Status of the process
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StatusResponse'
        '400':
          $ref: '#/components/responses/BadRequestProcess'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '500':
          $ref: '#/components/responses/InternalServerError'
    delete:
      tags:
      - ImageStatus
      summary: Delete Status
      operationId: deleteStatus
      description: 'Remove an image processing job status by its `process_id`. This operation can be used to delete the statuses of finished jobs, cleaning up the response of `GET Status`, for example.

        '
      parameters:
      - name: process_id
        in: path
        required: true
        description: The UUID of the image processing job.
        schema:
          type: string
          format: uuid
      responses:
        '204':
          description: The image processing job status was successfully deleted. No content returned.
        '400':
          $ref: '#/components/responses/BadRequestProcess'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '409':
          $ref: '#/components/responses/Conflict'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '500':
          $ref: '#/components/responses/InternalServerError'
  /image/v1/download/{process_id}:
    get:
      tags:
      - Download
      summary: Download Output
      operationId: getDownloadOutput
      description: 'A presigned download link to the image is provided in the response, as well as an expiration time (in Unix time). If the image is not ready, this request will fail with a conflict error.
        Images are stored for **7 days** after the image has been processed.

        '
      parameters:
      - name: process_id
        in: path
        required: true
        description: The UUID of the image processing job.
        schema:
          type: string
          format: uuid
      responses:
        '200':
          description: Presigned download URL
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DownloadResponse'
        '400':
          $ref: '#/components/responses/BadRequestProcess'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '409':
          $ref: '#/components/responses/Conflict'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '500':
          $ref: '#/components/responses/InternalServerError'
  /image/v1/download/input/{process_id}:
    get:
      tags:
      - Download
      summary: Download Input
      operationId: getDownloadInput
      description: 'A presigned download link to the input image is provided in the response, as well as an expiration time (in Unix time). Input images are stored for **7 days** after the image has been
        uploaded.

        '
      parameters:
      - name: process_id
        in: path
        required: true
        description: The UUID of the image processing job.
        schema:
          type: string
          format: uuid
      responses:
        '200':
          description: Presigned download URL
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DownloadResponse'
        '400':
          $ref: '#/components/responses/BadRequestProcess'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '500':
          $ref: '#/components/responses/InternalServerError'
  /image/v1/estimate:
    post:
      tags:
      - Estimate
      summary: Estimate
      operationId: postEstimate
      description: 'Validates the request against our standard models and returns the estimated time taken to complete a given processing job and the credits that would be consumed for that job.

        '
      requestBody:
        content:
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/EstimateGANRequest'
          application/json:
            schema:
              $ref: '#/components/schemas/EstimateGANRequest'
      responses:
        '200':
          description: The estimated time taken in seconds and the credits that would be consumed on process.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EstimationResponse'
        '400':
          $ref: '#/components/responses/BadRequestEstimate'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '500':
          $ref: '#/components/responses/InternalServerError'
  /image/v1/estimate-gen:
    post:
      tags:
      - Estimate
      summary: Estimate Generative
      operationId: postEstimateGen
      description: 'Validates the request against our generative models and returns the estimated time taken to complete a given processing job and the credits that would be consumed for that job.

        '
      requestBody:
        content:
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/EstimateGenRequest'
          application/json:
            schema:
              $ref: '#/components/schemas/EstimateGenRequest'
      responses:
        '200':
          description: The estimated time taken in seconds.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EstimationResponse'
        '400':
          $ref: '#/components/responses/BadRequestEstimate'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '500':
          $ref: '#/components/responses/InternalServerError'
  /image/v1/estimate-bulk:
    post:
      tags:
      - Estimate
      summary: Estimate Bulk
      operationId: postEstimateBulk
      description: 'Validates a list of requests and returns the estimated time taken to complete a given processing job and the credits that would be consumed for each job.

        '
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/EstimateBulkRequest'
      responses:
        '200':
          description: The estimated time taken in seconds and the credits that would be consumed on process.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EstimationBulkResponse'
        '400':
          $ref: '#/components/responses/BadRequestEstimate'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '500':
          $ref: '#/components/responses/InternalServerError'
  /image/v1/cancel/{process_id}:
    delete:
      tags:
      - Cancel
      summary: Cancel
      operationId: cancelTask
      description: 'Cancel a pending image processing job. If the job has already completed, or if it is not in a cancellable state, this request will fail with a conflict error. Use this to prevent unnecessary
        costs for jobs started in error.

        '
      parameters:
      - name: process_id
        in: path
        required: true
        description: The UUID of the image processing job.
        schema:
          type: string
          format: uuid
      responses:
        '204':
          description: The image processing job was successfully cancelled. No content returned.
        '400':
          $ref: '#/components/responses/BadRequestProcess'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '409':
          $ref: '#/components/responses/Conflict'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '500':
          $ref: '#/components/responses/InternalServerError'
  /video/status:
    get:
      tags:
      - VideoStatus
      summary: Get System Status
      operationId: GetSystemStatus
      description: 'Get status of the video cloud


        ## Response body


        | **Property**            | **Type** | **Description**            |

        |-------------------------|----------|----------------------------|

        | **isAvailable**         | Boolean  | System availability status |

        | **availabilityMessage** | String   | Availability message       |

        | **supportedModels**     | Array    | List of supported AI models in their shortened format (apo-8 for Apollo v8) |

        | **isFrameInterpolationSupported** | Boolean | Whether frame interpolation models are currently accepted |


        This endpoint is public and does not require an API key.


        `supportedModels` is the authoritative list of models the system currently accepts. It may include

        models beyond those enumerated in the filter schemas of this document.

        '
      security: []
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SystemStatusResponse'
        '500':
          $ref: '#/components/responses/VideoInternalServerError'
  /video/:
    post:
      tags:
      - Create Request
      summary: Create Video Request
      operationId: CreateVideoRequest
      description: 'Create a new video enhancement request.


        Send information about the video and desired enhancements then receive cost and time estimates.


        Calling this endpoint does NOT consume credits.


        Calling this endpoint does NOT start processing.


        Estimations are based on values provided, and the calculation is rerun once the system receives the source video. If the second estimate is significantly different than the initial values, the request
        is failed and the credits are fully refunded.


        The lower bound value of the cost estimate is billed.


        Time estimates are in development and may not be accurate.


        Output encoder settings are validated on this endpoint — the accepted `videoEncoder` / `videoProfile` combinations, along with the container, resolution, and bitrate limits of each, are listed under
        **Supported encoders and profiles** in **OutputInformationVideo**.


        ## Response body


        | **Property**  | **Type** | **Description**                     |

        |---------------|----------|-------------------------------------|

        | **requestId** | UUID     | Unique request identifier           |

        | **estimates** | Object   | Refer to **RequestEstimates** below |


        #### RequestEstimates


        `cost` and `time` are arrays with two integers each, representing lower and upper bounds of the estimate.


        | **Property** | **Type** | **Description**         |

        |--------------|----------|-------------------------|

        | **cost**     | Array    | Cost range (in credits) |

        | **time**     | Array    | Time range (in seconds) |

        '
      security:
      - apiKey: []
      requestBody:
        $ref: '#/components/requestBodies/CreateRequest'
        example:
          source:
            container: mp4
            size: 16125151
            duration: 213
            frameCount: 6371
            frameRate: 30
            resolution:
              width: 1280
              height: 720
          filters:
          - model: prob-4
          output:
            frameRate: 30
            audioTransfer: Copy
            audioCodec: AAC
            videoEncoder: H265
            videoProfile: Main
            dynamicCompressionLevel: High
            resolution:
              width: 3840
              height: 2160
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CreateResponse'
        '400':
          $ref: '#/components/responses/VideoBadRequest'
        '401':
          $ref: '#/components/responses/VideoUnauthorized'
        '413':
          $ref: '#/components/responses/RequestEntityTooLarge'
        '500':
          $ref: '#/components/responses/VideoInternalServerError'
        '503':
          $ref: '#/components/responses/VideoServiceUnavailable'
  /video/express:
    post:
      tags:
      - Create Express Request
      summary: Create Express Video Request
      operationId: CreateExpressVideoRequest
      description: 'Simplified interface for creating new video enhancement requests.


        This endpoint skips the need to gather video information and uses a single-URL upload rather than multi-part upload. Calling the accept and complete-upload endpoints are also no longer necessary.


        Cost estimates are returned only when they can be calculated at request time; otherwise they are omitted and appear later in the response of the status endpoint, once the system receives and analyzes
        the source video file. The lower bound value is billed.


        The endpoint returns a direct upload URL to our cloud storage for you to HTTP PUT the video file to.


        If `source.external` is provided, the system fetches the source itself: no `uploadId` or `uploadUrls` are returned, credits are reserved immediately, and processing begins right away.


        Image sequence containers are not supported by this endpoint.


        `source.container`, at least one entry in `filters`, and `output.resolution` are the only required fields on this endpoint. The remaining output fields are filled with defaults when omitted — `videoEncoder`
        `H265` with `videoProfile` `Main10`, `container` `mp4`, `audioTransfer` `None`, and `dynamicCompressionLevel` `High` unless `videoBitrate` is set. Two exceptions still apply: `output.audioCodec`
        is required whenever `output.audioTransfer` is `Copy` or `Convert`, and `output.frameRate` is required when a frame interpolation filter omits its own `fps`. See **OutputInformationVideo**, which
        also lists the accepted `videoEncoder` / `videoProfile` combinations and the container, resolution, and bitrate limits of each.


        ## Response body


        | **Property**   | **Type** | **Description**                                                  |

        |----------------|----------|------------------------------------------------------------------|

        | **requestId**  | UUID     | Unique request identifier                                        |

        | **uploadId**   | String   | Upload identifier. Absent when `source.external` is used.         |

        | **uploadUrls** | Array    | URL(s) for uploading video. Absent when `source.external` is used. |

        | **estimates**  | Object   | Refer to **RequestEstimates**. Absent when not yet calculable.     |

        '
      security:
      - apiKey: []
      requestBody:
        $ref: '#/components/requestBodies/CreateExpressRequest'
        example:
          source:
            container: mp4
          filters:
          - model: prob-4
          output:
            resolution:
              width: 3840
              height: 2160
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CreateExpressResponse'
        '400':
          $ref: '#/components/responses/VideoBadRequest'
        '401':
          $ref: '#/components/responses/VideoUnauthorized'
        '413':
          $ref: '#/components/responses/RequestEntityTooLarge'
        '500':
          $ref: '#/components/responses/VideoInternalServerError'
        '503':
          $ref: '#/components/responses/VideoServiceUnavailable'
  /video/{requestId}/accept:
    patch:
      tags:
      - Accept Request
      summary: Accept and Upload Video Request
      operationId: AcceptVideoRequest
      description: 'Calling this endpoint reserves the estimated credits and returns signed upload URL(s).


        ### Video uploads

        A **single** upload URL is returned when `source.size` is at or under **500 MB**, or when `source.frameCount` is 1,000 or fewer. PUT the whole file to `urls[0]`; there are no part numbers or ETags
        to collect in that case.


        Every larger source uses multi-part upload. The number of URLs returned is `source.size` divided by the **500 MB** segment size, rounded up — always at least 2 on this path — and capped at 150 URLs.
        Split the file into `max(500 MB, ceil(source.size / urls.length))`-byte segments and PUT them in order, one per URL: that is a plain 500 MB byte division for anything up to 75 GB, and larger segments
        for the sources above it where the 150-URL cap binds.


        For example, a 1.2 GB video file returns 3 upload URLs, so 500 MB segments cover it exactly:


        - Upload bytes 0-499,999,999 via HTTP PUT to `urls[0]`

        - Upload bytes 500,000,000-999,999,999 via HTTP PUT to `urls[1]`

        - Upload bytes 1,000,000,000-1,199,999,999 via HTTP PUT to `urls[2]`


        If one of the uploads fail, you may reuse the same URL to retry - the action overwrites any partially uploaded data.


        A successful response from the PUT request returns an `ETag` value in the header for each segment. Retain the part number and ETag pair for the next step (PATCH /video/{requestId}/complete-upload/).


        If the request was created with `source.external`, there is nothing to upload: this endpoint reserves credits, starts processing, and returns `202` with a `message` instead of upload URLs.


        Calling this endpoint again after the URLs have been issued returns the same `uploadId` and `urls`.


        ## Response body


        | **Property**  | **Type**   | **Description**                                     |

        |---------------|------------|-----------------------------------------------------|

        | **uploadId**  | String     | Upload ID for completing the upload                 |

        | **urls**      | Array      | Upload URLs                                         |

        | **message**   | String     | Returned instead of the above when `source.external` was used |

        '
      security:
      - apiKey: []
      parameters:
      - in: path
        name: requestId
        schema:
          type: string
          format: uuid
          example: c1f96dc2-c448-00e6-82ed-14ecb6403c62
        required: true
      responses:
        '202':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AcceptResponse'
        '400':
          $ref: '#/components/responses/VideoBadRequest'
        '401':
          $ref: '#/components/responses/VideoUnauthorized'
        '402':
          $ref: '#/components/responses/VideoPaymentRequired'
        '403':
          $ref: '#/components/responses/VideoForbidden'
        '404':
          $ref: '#/components/responses/VideoNotFound'
        '500':
          $ref: '#/components/responses/VideoInternalServerError'
        '503':
          $ref: '#/components/responses/VideoServiceUnavailable'
  /video/{requestId}/complete-upload/:
    patch:
      tags:
      - Complete Upload
      summary: Complete Video Upload
      operationId: CompleteVideoUpload
      description: "Send metadata of the multi-part uploads to complete the upload and begin processing the video.\n\nOptionally include the MD5 hash of the source video file to validate successful upload\
        \ before processing.\n\nIf the accept endpoint returned a single upload URL, the contents of `uploadResults` are not used — the field is still required by request validation, so send a single placeholder\
        \ entry such as `[{\"partNum\": 1, \"eTag\": \"unused\"}]`.\n\n## Request body\n\n| **Property**    | **Type**         | **Description**                                                         \
        \                                |\n|-----------------|------------------|---------------------------------------------------------------------------------------------------------|\n| **uploadResults**\
        \           | Array   | An array of part number and ETag pairs of the uploaded parts. ETags are returned by S3 upon upload of the part. |\n| **uploadResults.*.partNum** | Integer | Part number of\
        \ the uploaded part, starting from 1                                                      |\n| **uploadResults.*.eTag**    | String  | eTag value returned by S3 upon upload of the part   \n"
      security:
      - apiKey: []
      parameters:
      - in: path
        name: requestId
        schema:
          type: string
          format: uuid
          example: c1f96dc2-c448-00e6-82ed-14ecb6403c62
        required: true
      requestBody:
        $ref: '#/components/requestBodies/CompleteUpload'
      responses:
        '202':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: Processing has been queued
        '400':
          $ref: '#/components/responses/VideoBadRequest'
        '401':
          $ref: '#/components/responses/VideoUnauthorized'
        '403':
          $ref: '#/components/responses/VideoForbidden'
        '404':
          $ref: '#/components/responses/VideoNotFound'
        '500':
          $ref: '#/components/responses/VideoInternalServerError'
  /video/{requestId}:
    get:
      tags:
      - Get Request
      summary: Get Video Request
      operationId: GetVideoRequest
      description: 'Retrieve the full record of a single request, in the same shape as the entries returned by `GET /video/history`.


        Use this endpoint when you need the details of the request itself — the `filters` and `output` you submitted, the corrected source metrics, the credit transactions, and the signed download URLs.
        For progress polling, use `GET /video/{requestId}/status` instead: it reports `progress`, live processing statistics, and upload URLs, none of which are returned here.


        The `source` metrics start as the values you supplied and are corrected once the system analyzes the file. `estimates` holds the initial cost and time estimate and is absent until the request has
        been costed — express requests are costed after the source has been received and analyzed.


        Unlike `GET /video/history`, this endpoint also returns requests that are still in the `requested` state.

        '
      security:
      - apiKey: []
      parameters:
      - in: path
        name: requestId
        schema:
          type: string
          format: uuid
          example: c1f96dc2-c448-00e6-82ed-14ecb6403c62
        required: true
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VideoRequestRecord'
        '401':
          $ref: '#/components/responses/VideoUnauthorized'
        '403':
          $ref: '#/components/responses/VideoForbidden'
        '404':
          $ref: '#/components/responses/VideoNotFound'
        '500':
          $ref: '#/components/responses/VideoInternalServerError'
    delete:
      tags:
      - Cancel Request
      summary: Cancel Video Request
      operationId: CancelVideoRequest
      description: 'Cancel a video enhancement request.


        If the request is canceled before any processing starts, then all reserved credits are refunded.


        If the request is canceled during processing, then a partial refund is issued based on the progress. For example, if the request is 50% complete, then approximately 50% of the reserved credits are
        refunded.

        '
      security:
      - apiKey: []
      parameters:
      - in: path
        name: requestId
        schema:
          type: string
          format: uuid
          example: c1f96dc2-c448-00e6-82ed-14ecb6403c62
        required: true
      responses:
        '200':
          description: Successful response, message may also indicate if there is a parital refund, if applicable
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: Cancellation in progress. Partial credits have been refunded.
        '204':
          description: Successful response, already canceled or in progress
        '400':
          $ref: '#/components/responses/VideoBadRequest'
        '401':
          $ref: '#/components/responses/VideoUnauthorized'
        '403':
          $ref: '#/components/responses/VideoForbidden'
        '404':
          $ref: '#/components/responses/VideoNotFound'
        '500':
          $ref: '#/components/responses/VideoInternalServerError'
  /video/{requestId}/cancel-estimate:
    get:
      tags:
      - Cancel Estimate
      summary: Estimate Cancellation Outcome
      operationId: GetCancelEstimate
      description: 'Preview the credit outcome of canceling a request without actually canceling it.


        This uses the same settlement math as the cancel endpoint (DELETE /video/{requestId}), so the estimate reflects what you would be charged and refunded if you cancel now.


        - If the request has not started processing, canceling refunds all reserved credits and charges nothing.

        - If the request is partially processed, canceling commits a prorated amount (plus a small cancellation penalty) and refunds the remainder.

        - If the request is already canceling or canceled, it is reported as not cancelable with a zeroed estimate.


        Requests that have already completed or failed cannot be canceled and return a 400.


        ## Response body


        | **Property**        | **Type** | **Description**                                              |

        |---------------------|----------|-------------------------------------------------------------|

        | **requestId**       | UUID     | Unique request identifier                                   |

        | **status**          | String   | Current processing status                                   |

        | **cancelable**      | Boolean  | Whether the request can still be canceled                   |

        | **progress**        | Integer  | Processing progress used for settlement (percentage, 0-100) |

        | **creditsReserved** | Integer  | Credits currently reserved for the request                  |

        | **creditsToCommit** | Integer  | Credits that would be charged if canceled now               |

        | **creditsToRefund** | Integer  | Credits that would be refunded if canceled now              |

        | **message**         | String   | Human-readable summary of the cancellation outcome          |

        '
      security:
      - apiKey: []
      parameters:
      - in: path
        name: requestId
        schema:
          type: string
          format: uuid
          example: c1f96dc2-c448-00e6-82ed-14ecb6403c62
        required: true
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CancelEstimateResponse'
        '400':
          $ref: '#/components/responses/VideoBadRequest'
        '401':
          $ref: '#/components/responses/VideoUnauthorized'
        '403':
          $ref: '#/components/responses/VideoForbidden'
        '404':
          $ref: '#/components/responses/VideoNotFound'
        '500':
          $ref: '#/components/responses/VideoInternalServerError'
  /video/{requestId}/media:
    delete:
      tags:
      - Delete Files
      summary: Delete Video Files
      operationId: DeleteVideoFiles
      description: 'This endpoint will delete your source and enhanced video files associated with the request from Topaz Labs storage, if any exists.


        Note: All videos are automatically deleted after 7 days unless you request a shorter TTL.

        '
      security:
      - apiKey: []
      parameters:
      - in: path
        name: requestId
        schema:
          type: string
          format: uuid
          example: c1f96dc2-c448-00e6-82ed-14ecb6403c62
        required: true
      responses:
        '204':
          description: Successful response, already canceled or in progress
        '400':
          $ref: '#/components/responses/VideoBadRequest'
        '401':
          $ref: '#/components/responses/VideoUnauthorized'
        '403':
          $ref: '#/components/responses/VideoForbidden'
        '404':
          $ref: '#/components/responses/VideoNotFound'
        '500':
          $ref: '#/components/responses/VideoInternalServerError'
  /video/{requestId}/status:
    get:
      tags:
      - Get Request Status
      summary: Get Video Request Status
      operationId: GetVideoRequestStatus
      description: 'Get status of the request.


        If processing is complete, the response will include a signed URL to access the enhanced video.


        Make sure to download and save the video within the TTL provided in the response (7 days by default). The signed URL is generated once and then reused: calling this endpoint again returns the same
        URL and the same expiry rather than issuing a fresh one. We retain your data for only a limited number of days, after which the video is permanently deleted from our system.


        ## Response body


        | **Property**         | **Type**  | **Description**                                   |

        |---------------------|----------|-----------------------------------------------------|

        | **status**           | String   | Current processing status                          |

        | **message**          | String   | Human-readable status message                      |

        | **errorCode**        | String   | Failure code from the processing pipeline, present only when status is failed |

        | **progress**         | Number   | Total request progress (percentage)                |

        | **estimates**        | Object   | Refer to **RequestEstimates**                      |

        | **uploadId**         | String   | Present while the request is awaiting source upload |

        | **urls**             | Array    | Outstanding upload URLs, present while the request is awaiting source upload |

        | **outputSize**       | String   | Size of output video                               |

        | **averageFps**       | Number   | Average FPS of processing nodes                    |

        | **combinedFps**      | Number   | Combined FPS of all nodes                          |

        | **processingJobs**   | Array    | Refer to **VideoProcessingStatIntermediate** below   |

        | **download**         | Object   | Refer to **EnhancedDownloadSignedUrlResponse** below |

        | **comparisonTool**   | String   | URL to a before/after comparison view, present only for free renders |


        `outputSize`, `averageFps`, `combinedFps` and `processingJobs` are reported for chunked enhancement requests. They are absent for requests handled end-to-end by the inference backend.


        ---


        #### RequestEstimates


        `cost` and `time` are arrays with two integers each, representing lower and upper bounds of the estimate.


        | **Property**  | **Type**  | **Description**                                    |

        |---------------|----------|-----------------------------------------------------|

        | **cost**      | Array    | Cost range (in credits)                             |

        | **time**      | Array    | Time range (in seconds)                             |


        ---


        #### VideoProcessingStatIntermediate


        | **Property**         | **Type**  | **Description**                                   |

        |---------------------|----------|-----------------------------------------------------|

        | **chunkId**          | UUID     | Unique chunk identifier                            |

        | **chunkIndex**       | Integer  | Index of the chunk                                 |

        | **taskIndex**        | Integer  | Task index for chunk processing                    |

        | **status**           | String   | Status (queued, processing, complete, etc.)        |

        | **progress**         | Number   | Processing progress (percentage)                   |

        | **averageFps**       | Number   | Processing speed of the node                       |

        | **averageGpuUtilization** | Number | GPU utilization in percentage                    |

        | **averageGpuMemoryUtilization** | Number | GPU memory usage percentage                |


        ---


        #### EnhancedDownloadSignedUrlResponse


        | **Property**   | **Type**  | **Description**                 |

        |----------------|-----------|---------------------------------|

        | **url**        | String    | Signed download URL for the enhanced file |

        | **expiresIn**  | Integer   | TTL in milliseconds                  |

        | **expiresAt**  | Integer   | Time in milliseconds since UTC epoch |

        '
      security:
      - apiKey: []
      parameters:
      - in: path
        name: requestId
        schema:
          type: string
          format: uuid
          example: c1f96dc2-c448-00e6-82ed-14ecb6403c62
        required: true
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VideoStatusResponse'
        '401':
          $ref: '#/components/responses/VideoUnauthorized'
        '403':
          $ref: '#/components/responses/VideoForbidden'
        '404':
          $ref: '#/components/responses/VideoNotFound'
        '500':
          $ref: '#/components/responses/VideoInternalServerError'
  /video/{requestId}/metrics:
    get:
      tags:
      - Get Request Metrics
      summary: Get Video Request Metrics
      operationId: GetVideoRequestMetrics
      description: 'Get metrics for the request


        Metrics are derived from chunked enhancement processing. For requests handled end-to-end by the inference backend, and for requests that have not begun processing, this endpoint returns `200` with
        only a `message` field indicating that metrics are unavailable.


        ## Response body


        | **Property**        | **Type** | **Description**                                     |

        |---------------------|----------|-----------------------------------------------------|

        | **minutesInState**  | Object   | Minutes spent in various processing states          |

        | **minutesInState.pendingSourceUpload** | Number    | - |

        | **minutesInState.initializing**        | Number    | - |

        | **minutesInState.preprocessing**       | Number    | - |

        | **minutesInState.processing**          | Number    | - |

        | **minutesInState.postprocessing**      | Number    | - |

        | **minutesToEnhance**| Number   | Time to complete enhancement after source upload    |

        | **inputFrames**     | Integer  | Number of input frames                              |

        | **outputFrames**    | Integer  | Number of output frames                             |

        | **inputSize**       | String   | Size of input video                                 |

        | **outputSize**      | String   | Size of output video                                |

        | **chunks**          | Array    | Refer to **VideoChunkMetrics** below                |


        ---


        #### VideoChunkMetrics


        | **Property**        | **Type**   | **Description**                                  |

        |---------------------|------------|--------------------------------------------------|

        | **chunkIndex**                | Integer   | Index of the chunk                      |

        | **tasks**                     | Array     | List of processing tasks for the chunk  |

        | **tasks.*.minutesProcessing** | Number    | Duration of processing in minutes       |

        | **tasks.*.averageFps**        | Number    | Average processing speed of the node    |

        | **tasks.*.averageGpuUtilization** | Number | GPU utilization in percentage          |

        | **tasks.*.averageGpuMemoryUtilization** | Number | GPU memory usage percentage      |

        | **tasks.*.inputFrames**       | Integer   | Number of input frames                  |

        | **tasks.*.outputFrames**      | Integer   | Number of output frames                 |

        | **tasks.*.inputSize**         | String    | Size of the input file                  |

        | **tasks.*.outputSize**        | String    | Size of the output file                 |

        '
      security:
      - apiKey: []
      parameters:
      - in: path
        name: requestId
        schema:
          type: string
          format: uuid
          example: c1f96dc2-c448-00e6-82ed-14ecb6403c62
        required: true
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MetricsResponse'
        '401':
          $ref: '#/components/responses/VideoUnauthorized'
        '403':
          $ref: '#/components/responses/VideoForbidden'
        '404':
          $ref: '#/components/responses/VideoNotFound'
        '500':
          $ref: '#/components/responses/VideoInternalServerError'
  /video/history:
    get:
      tags:
      - Get Request History
      summary: Get My Request History
      operationId: GetHistory
      description: 'This endpoint will return your processing history, newest first, up to 50 requests per page. Requests that have not been accepted yet (status `requested`) are omitted — fetch those individually
        with `GET /video/{requestId}`.


        A page may contain fewer than 50 requests even when more are available, so keep following `nextCursor` until it comes back `null`.

        '
      parameters:
      - name: cursor
        in: query
        required: false
        description: Base64url-encoded cursor for pagination. Use the `nextCursor` value from a previous response to fetch the next page.
        schema:
          type: string
          format: base64url
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                properties:
                  result:
                    type: array
                    items:
                      $ref: '#/components/schemas/VideoRequestRecord'
                  nextCursor:
                    type: string
                    format: base64url
                    nullable: true
                    description: Cursor to pass as the `cursor` query parameter to fetch the next page. `null` when there are no more results.
        '400':
          $ref: '#/components/responses/VideoBadRequest'
        '401':
          $ref: '#/components/responses/VideoUnauthorized'
        '403':
          $ref: '#/components/responses/VideoForbidden'
        '500':
          $ref: '#/components/responses/VideoInternalServerError'
components:
  schemas:
    EnhanceGANRequest:
      type: object
      properties:
        image:
          type: string
          contentMediaType: application/octet-stream
          description: "The image file to be processed. Supported formats:\n  - jpeg (or jpg)\n  - png\n  - tiff (or tif)\n"
        source_id:
          type: string
          description: Unique identifier of the source image.
          examples:
          - d7b3b3b3-7b3b-4b3b-8b3b-3b3b3b3b3b3b
        source_url:
          type: string
          description: The URL of the source image.
          examples:
          - https://example.com/image.jpg
        model:
          type: string
          description: The model to use for processing the image.
          enum:
          - Standard V2
          - Low Resolution V2
          - CGI
          - High Fidelity V2
          - Text Refine
          default: Standard V2
        output_height:
          type: integer
          description: The desired height of the output image in pixels. Your image will automatically be upscaled to this specified value. If only one of `output_height` and `output_width` is set, then
            the other dimension is scaled proportionally.
          minimum: 1
          maximum: 32000
          examples:
          - 1080
        output_width:
          type: integer
          description: The desired width of the output image in pixels. Your image will automatically be upscaled to this specified value. If only one of `output_height` and `output_width` is set, then
            the other dimension is scaled proportionally.
          minimum: 1
          maximum: 32000
          examples:
          - 1920
        crop_to_fill:
          type: boolean
          description: Default behavior is to letterbox the image if a differing aspect ratio is chosen. Enable `crop_to_fill` by setting this to `true` if you instead want to crop the image to fill the
            dimensions.
          default: false
        output_format:
          type: string
          description: The desired format of the output image.
          enum:
          - jpeg
          - jpg
          - png
          - tiff
          - tif
          default: jpeg
        webhook_url:
          type: string
          description: "The URL to send the webhook to. When provided, a POST request with a JSON payload will be sent to this URL when the job status changes or completes.\n\n**Request Body:**\nThe webhook\
            \ will be sent as a POST request with `Content-Type: application/json` containing the following fields:\n  - `notification_id` (string, ULID): Unique identifier for this notification. Can be\
            \ used to order messages in case they are received out of order; see the [ULID specification](https://github.com/ulid/spec)\n  - `process_id` (string, UUID): Unique identifier of the image processing\
            \ job.\n  - `status` (string): Current status of the job (i.e., \"Pending\", \"Processing\", \"Completed\", \"Cancelled\", \"Failed\").\n  - `creation_time` (integer): Unix timestamp in seconds\
            \ when the job was created.\n  - `modification_time` (integer): Unix timestamp in seconds when the job was last modified.\n  - `progress` (integer): Progress of the job as a percentage (0-100).\n\
            \  - `download_url` (string, optional): Presigned GET URL for the processed image. Only present once the job is completed.\n  - `head_url` (string, optional): Presigned HEAD URL for the processed\
            \ image. Only present once the job is completed.\n  - `input_download_url` (string): Presigned GET URL for the input image.\n  - `input_head_url` (string): Presigned HEAD URL for the input image.\n\
            \n**Retry Behavior:**\nIf the webhook endpoint returns a 5xx server error, the system will retry the webhook with exponential backoff. The backoff starts at 5 seconds and doubles with each retry\
            \ attempt (5s, 10s, 20s, 40s, etc.), up to a maximum of 15 minutes. Client errors (4xx status codes) are not retried and the notification is discarded.\n"
          examples:
          - https://example.com/webhook
      additionalProperties:
        type: string
        description: Additional key-value pairs to be used as model settings. Only pairs relevant for your chosen model are used. Please see the [available models](https://developer.topazlabs.com/image-api/available-models)
          for more details.
    EnhanceGenRequest:
      type: object
      properties:
        image:
          type: string
          contentMediaType: application/octet-stream
          description: "The image file to be processed. Supported formats:\n  - jpeg (or jpg)\n  - png\n  - tiff (or tif)\n"
        source_id:
          type: string
          description: Unique identifier of the source image.
          examples:
          - d7b3b3b3-7b3b-4b3b-8b3b-3b3b3b3b3b3b
        source_url:
          type: string
          description: The URL of the source image.
          examples:
          - https://example.com/image.jpg
        model:
          type: string
          description: The model to use for processing the image.
          enum:
          - Standard MAX
          - Recovery V2
          - Wonder
          - Redefine
          default: Redefine
        output_height:
          type: integer
          description: The desired height of the output image in pixels. Your image will automatically be upscaled to this specified value. If only one of `output_height` and `output_width` is set, then
            the other dimension is scaled proportionally.
          minimum: 1
          maximum: 32000
          examples:
          - 1080
        output_width:
          type: integer
          description: The desired width of the output image in pixels. Your image will automatically be upscaled to this specified value. If only one of `output_height` and `output_width` is set, then
            the other dimension is scaled proportionally.
          minimum: 1
          maximum: 32000
          examples:
          - 1920
        crop_to_fill:
          type: boolean
          description: Default behavior is to letterbox the image if a differing aspect ratio is chosen. Enable `crop_to_fill` by setting this to `true` if you instead want to crop the image to fill the
            dimensions.
          default: false
        output_format:
          type: string
          description: The desired format of the output image.
          enum:
          - jpeg
          - jpg
          - png
          - tiff
          - tif
          default: jpeg
        webhook_url:
          type: string
          description: "The URL to send the webhook to. When provided, a POST request with a JSON payload will be sent to this URL when the job status changes or completes.\n\n**Request Body:**\nThe webhook\
            \ will be sent as a POST request with `Content-Type: application/json` containing the following fields:\n  - `notification_id` (string, ULID): Unique identifier for this notification. Can be\
            \ used to order messages in case they are received out of order; see the [ULID specification](https://github.com/ulid/spec)\n  - `process_id` (string, UUID): Unique identifier of the image processing\
            \ job.\n  - `status` (string): Current status of the job (i.e., \"Pending\", \"Processing\", \"Completed\", \"Cancelled\", \"Failed\").\n  - `creation_time` (integer): Unix timestamp in seconds\
            \ when the job was created.\n  - `modification_time` (integer): Unix timestamp in seconds when the job was last modified.\n  - `progress` (integer): Progress of the job as a percentage (0-100).\n\
            \  - `download_url` (string, optional): Presigned GET URL for the processed image. Only present once the job is completed.\n  - `head_url` (string, optional): Presigned HEAD URL for the processed\
            \ image. Only present once the job is completed.\n  - `input_download_url` (string): Presigned GET URL for the input image.\n  - `input_head_url` (string): Presigned HEAD URL for the input image.\n\
            \n**Retry Behavior:**\nIf the webhook endpoint returns a 5xx server error, the system will retry the webhook with exponential backoff. The backoff starts at 5 seconds and doubles with each retry\
            \ attempt (5s, 10s, 20s, 40s, etc.), up to a maximum of 15 minutes. Client errors (4xx status codes) are not retried and the notification is discarded.\n"
          examples:
          - https://example.com/webhook
      additionalProperties:
        type: string
        description: Additional key-value pairs to be used as model settings. Only pairs relevant for your chosen model are used. Please see the [available models](https://developer.topazlabs.com/image-api/available-models)
          for more details.
    SharpenGANRequest:
      type: object
      properties:
        image:
          type: string
          contentMediaType: application/octet-stream
          description: "The image file to be processed. Supported formats:\n  - jpeg (or jpg)\n  - png\n  - tiff (or tif)\n"
        source_id:
          type: string
          description: Unique identifier of the source image.
          examples:
          - d7b3b3b3-7b3b-4b3b-8b3b-3b3b3b3b3b3b
        source_url:
          type: string
          description: The URL of the source image.
          examples:
          - https://example.com/image.jpg
        model:
          type: string
          description: The model to use for processing the image.
          enum:
          - Standard
          - Strong
          - Lens Blur
          - Lens Blur V2
          - Motion Blur
          - Natural
          - Refocus
          - Wildlife
          - Portrait
          default: Standard
        output_format:
          type: string
          description: The desired format of the output image.
          enum:
          - jpeg
          - jpg
          - png
          - tiff
          - tif
          default: jpeg
        webhook_url:
          type: string
          description: "The URL to send the webhook to. When provided, a POST request with a JSON payload will be sent to this URL when the job status changes or completes.\n\n**Request Body:**\nThe webhook\
            \ will be sent as a POST request with `Content-Type: application/json` containing the following fields:\n  - `notification_id` (string, ULID): Unique identifier for this notification. Can be\
            \ used to order messages in case they are received out of order; see the [ULID specification](https://github.com/ulid/spec)\n  - `process_id` (string, UUID): Unique identifier of the image processing\
            \ job.\n  - `status` (string): Current status of the job (i.e., \"Pending\", \"Processing\", \"Completed\", \"Cancelled\", \"Failed\").\n  - `creation_time` (integer): Unix timestamp in seconds\
            \ when the job was created.\n  - `modification_time` (integer): Unix timestamp in seconds when the job was last modified.\n  - `progress` (integer): Progress of the job as a percentage (0-100).\n\
[...]
